@charset "UTF-8";
/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Caveat", cursive, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* padding: 29px; */ }

a {
  text-decoration: none;
  background-color: transparent; }

img:not(.logo, .logo-box, .logosecond) {
  width: 70%;
  display: block;
  margin-bottom: 1rem; }

.header {
  /* logo box için parent element o yüzden relative */
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to left top, rgba(148, 185, 240, 0.582), #1c62a396), url(../img/hero1.jpg);
  background-size: cover;
  /* ekran boyu değişssede  resimin topu hep pozisyon olarak sabit  */
  background-position: top;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 92%, 0 100%, 0% 0%, 0 0); }

.logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem; }

.logosecond {
  height: 3rem;
  /* widthe gerek yok çünkü otomatik düzenliyor height varken  */
  opacity: 0.8;
  transition: all 0.4s ease-in-out; }
  .logosecond:hover {
    transform: scale(1.2) rotate(4deg); }

@media screen and (max-width: 968px) {
  .logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
    transform: scale(0.6); } }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  /* span is inline thats wht we have to display block */
  color: aliceblue;
  text-transform: uppercase;
  /* //blocking shaking */
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 35px;
    animation-name: nicker;
    animation-duration: 3s; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: nicker2;
    animation-duration: 3s; }

@keyframes nicker {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes nicker2 {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes button {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn {
  color: #979090;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 5%;
  margin: 1.25rem;
  font-size: 20px;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  animation: button 0.5s ease-in-out;
  background-color: rgba(240, 248, 255, 0.747); }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px;
    color: #807b7b;
    background-color: aliceblue; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    /* relative ise link ve visited buttonu olacak */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: rgba(232, 240, 247, 0.568); }
  .btn:hover::after {
    transform: scale(2.5);
    opacity: 0; }

.navigation-background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 1000;
  background-image: radial-gradient(#0ea6d8, #262692);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1); }

.nav-button {
  background-color: white;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.103);
  z-index: 2001;
  text-align: center;
  cursor: pointer; }

.navigation-checkbox {
  display: none; }

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation-link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(150deg, transparent 0%, transparent 50%, white 50%);
  background-size: 290%;
  transition: all 0.9s; }
  .navigation-link:hover {
    background-position: 100%;
    color: #0ea6d8;
    transform: translateX(1rem); }

.navigation-item {
  margin: 1rem; }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(400); }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%; }

.navigation-icon {
  position: relative;
  margin-top: 2rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 2rem;
    height: 1.5px;
    background-color: #333;
    display: inline-block; }
  .navigation-icon::after, .navigation-icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation-icon::before {
    top: -0.5rem; }
  .navigation-icon::after {
    top: 0.5rem; }

.nav-button:hover .navigation-icon::before {
  top: 1px; }

.nav-button:hover .navigation-icon::after {
  top: -1px; }

.navigation-checkbox:checked + .nav-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .nav-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .nav-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.starter {
  position: relative;
  padding: 5rem 0;
  margin-top: 8vh; }

.center-text {
  text-align: center; }

.section-center {
  width: 90vw;
  /* böylece resmi ortaladı  */
  margin: 0 auto;
  max-width: 1170px; }

.about-img,
.about-info {
  margin-bottom: 2rem; }

.heading-secondary {
  display: block;
  font-size: 3.5rem;
  color: rgba(10, 73, 136, 0.699);
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to left, rgba(43, 130, 216, 0.986), rgba(12, 40, 116, 0.877));
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s ease-in-out; }
  .heading-secondary:hover {
    transform: scale(0.95); }

.heading-3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.btn-about {
  margin: 1rem auto;
  width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #fff;
  background-color: #0e4477d2;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none; }

.btn-about:hover {
  background-color: #0986ec;
  box-shadow: 0px 15px 20px rgba(6, 21, 240, 0.4);
  color: #fff;
  transform: translateY(-7px); }

p {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

/* şimdi column layoutunu flexbox ile yapacak  */
@media screen and (min-width: 992px) {
  .section-center {
    display: flex;
    /* böylece resim ile yazı  yan yana gelebildi daha önce resim üstte yazı alttaydı */
    justify-content: space-between;
    flex-wrap: wrap; }
  /* children target  yapmış oldu  felx için mecbur */
  .about-img,
  .about-info {
    flex: 0 0 calc(50% - 2rem);
    /* children büyümüyor ,küçülmüyor , iki kolonlu layout olduğu için  ve 2 rem boşluk bu boşluk resim ile yazı arasında değil şu an en sağda toplanmı vaziyette dolayısı ile yukarıda about centera bir üst parenta gidip justify content sapce between yapıyor garanti olsun diye de wrapliyor */
    margin-bottom: 0;
    /* bu margine gerek yok ekran büyüdüğünde ve column layoutumuz olduğu için büyük ekranda */
    align-self: center;
    /* child'i centera çekiyor böylece büyük ekranda resimin yanındaki yazı resimin sağ ortasında iniyor  eskiden kafa kafaya yan yana idi */ } }

@media screen and (min-width: 1170px) {
  /* image targetlayamadığı için onun için özel oluşturlmuş article parentta işlem yapacak yapılan şey ise resimin arkasına pencere çekiyor ekran büyükken */
  .about-img::before {
    content: "";
    border: 0.5rem solid var(--clr-primary-5);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
    z-index: -1; }
  .about-img {
    position: relative; }
  /* stacking order için bunu relative yapıyor */
  .about-photo {
    position: relative; } }

.pic-3 {
  bottom: 14rem;
  left: 40%;
  border-radius: 20px;
  z-index: 997;
  transition: all 0.2s ease-in-out; }
  .pic-3:hover {
    z-index: 1000;
    transform: scale(1.2);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.pic-2 {
  bottom: 5rem;
  z-index: 998;
  border-radius: 20px;
  transition: all 0.2s ease-in-out; }
  .pic-2:hover {
    z-index: 1000;
    transform: scale(1.2);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.pic-1 {
  top: 2rem;
  left: 20%;
  border-radius: 20px;
  transition: all 0.2s ease-in-out; }
  .pic-1:hover {
    z-index: 1000;
    transform: scale(1.2);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.about-img:hover .about-photo:not(:hover) {
  transform: scale(0.8); }

.features {
  padding: 20rem 0;
  background-image: linear-gradient(to left top, rgba(148, 185, 240, 0.582), rgba(8, 45, 100, 0.582)), url(/img/camping/camping4.jpg);
  background-size: cover;
  clip-path: polygon(0 20%, 100% 0, 99% 84%, 0% 100%); }

.tour-info {
  border-radius: 10px;
  margin: 2.5rem 1.25rem;
  padding: 2rem 1.2rem;
  background-color: white;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; }

.tour-card {
  transition: all 01s ease-out;
  margin-bottom: 2rem;
  text-align: center;
  align-content: center; }

.tour-card:hover {
  transform: scale(1.1); }

.icon-basic-clessidre {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to left, rgba(43, 130, 216, 0.986), rgba(12, 40, 116, 0.877));
  -webkit-background-clip: text;
  color: transparent; }

.icon-basic-geolocalize-05 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to left, rgba(43, 130, 216, 0.986), rgba(12, 40, 116, 0.877));
  -webkit-background-clip: text;
  color: transparent; }

.icon-basic-video {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to left, rgba(43, 130, 216, 0.986), rgba(12, 40, 116, 0.877));
  -webkit-background-clip: text;
  color: transparent; }

/* colum layouta geçiyoruz  */
@media screen and (min-width: 768px) {
  .featured-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .tour-card {
    flex: 0 0 calc(50% - 2rem); } }

@media screen and (min-width: 1170px) {
  .tour-card {
    flex: 0 0 calc(33.333% - 2rem); } }

.section-plans {
  padding: 5rem 0; }

.section-center {
  width: 90vw;
  margin: 05rem auto;
  max-width: 1170px; }

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw; } }

@media screen and (max-width: 991px) {
  .section-center {
    width: 50%; } }

.blog {
  background: #107cc4; }

.card {
  height: 27rem;
  /* bir yüksekliği olması lazım çünkü childlar için position absolute kullanıyoruz ve herşeyi collapse yapıyor bu */
  position: relative;
  perspective: 1500px;
  margin-right: 2rem;
  padding: 1rem; }

.card-front {
  background: linear-gradient(to left top, #030630, #4e6ef8);
  transition: all 1.2s linear;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; }

.card-back {
  /* transition: all 1.2s linear; */
  background: linear-gradient(to left top, rgba(7, 204, 7, 0.582), #0d723496);
  transform: rotateY(180deg);
  /* kart arkası read moreu  ortaya sabitlemek için */
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; }

.card:hover .card-front {
  transform: rotateY(-180deg);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; }

.card:hover .card-back {
  transform: rotateY(0);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; }

.card-side {
  backface-visibility: hidden;
  transition: all 0.4s linear;
  position: absolute;
  /* position absolute kullanıyoruz */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.card-front img {
  height: 13rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.card-info {
  padding: 1rem 1.5rem; }

.blog-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  /* media querisiz yaptı bu sefer */
  gap: 3rem 1rem;
  /* 3rem rows için 1 rem column için */ }

.card-heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #e2e2e2; }

.card-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #e2e2e2; }

.btn-card {
  margin: 1rem auto;
  width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #4e4e52;
  background-color: #f0f0e8d2;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease 0s;
  cursor: pointer;
  outline: none; }

.btn-card:hover {
  background-color: #f0f0e8d2;
  box-shadow: 0px 15px 20px rgba(68, 69, 71, 0.4);
  color: #4e4e52;
  transform: translateY(-7px); }

.card-img {
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 84%, 0 100%, 0 0); }

.testimonials {
  background-color: aliceblue;
  padding: 15rem 0; }

.testimonial {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2.8rem 5.4rem rgba(36, 3, 3, 0.15);
  background-color: #fff;
  border-radius: 2.9px;
  padding: 6.1rem;
  font-size: 1.6rem;
  clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%); }

.test-heading {
  margin-top: 1.5rem;
  text-align: center; }

.persona {
  position: relative;
  width: 23rem;
  height: 16rem;
  float: left;
  clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
  shape-outside: circle(30%);
  clip-path: circle(25%);
  transition: all 0.2s ease-in-out; }
  .persona:hover .caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .persona:hover .test-img {
    transform: scale(1.2);
    filter: blur(3px) brightness(90%); }

.test-img {
  transition: all 0.2s ease-in-out;
  transform: scale(1.4); }

.row {
  padding: 3rem; }

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  color: #fff;
  text-transform: capitalize;
  font-size: 1.66rem;
  text-align: center;
  opacity: 0;
  transition: all 0.2s ease-in-out; }

@media screen and (max-width: 991px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .testimonial {
    flex: content;
    text-align: center;
    padding: 1rem 0; }
  .text-testimonial {
    float: left; }
  .test-heading {
    float: left; }
  .persona {
    float: left; }
  .test-img {
    justify-self: center; } }

.heading-contact {
  display: block;
  font-size: 3.5rem;
  color: rgba(10, 73, 136, 0.699);
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to left, rgba(43, 130, 216, 0.986), rgba(12, 40, 116, 0.877));
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s ease-in-out; }
  .heading-contact:hover {
    transform: scale(0.95); }

.section-contact {
  padding: 14rem 0;
  background-image: linear-gradient(to left top, rgba(224, 143, 21, 0.616), rgba(185, 248, 10, 0.753)); }

.contact {
  background-image: linear-gradient(75deg, rgba(236, 229, 229, 0.9) 0%, rgba(236, 229, 229, 0.6) 50%, transparent 50%), url(/img/camping/camping7.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(3, 6, 48, 0.616); }
  .contact-form {
    width: 50%;
    padding: 6rem;
    text-align: center; }

.form {
  position: relative; }
  .form-unit:not(:last-child) {
    margin-bottom: 2rem; }
  .form-input {
    display: block;
    width: 90%;
    font-size: 2.4rem;
    font-family: inherit;
    color: inherit;
    padding: 0 2rem;
    border-radius: 2px;
    background-color: rgba(241, 223, 223, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    margin: 4rem; }
    .form-input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.123);
      border-bottom: 3px solid rgba(8, 156, 45, 0.589); }
    .form-input:focus:invalid {
      border-bottom: 3px solid rgba(236, 40, 5, 0.589); }
  .form-label {
    font-size: 1.15rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form-input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.ali {
  position: relative;
  display: block;
  width: 100%;
  height: auto; }

.btn-contact {
  display: inline-block;
  left: 7rem;
  color: #979090;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 5%;
  margin: 3.25rem 5rem;
  font-size: 20px;
  border-radius: 100px;
  transition: all 0.2s;
  animation: button 0.5s ease-in-out;
  background-color: rgba(240, 248, 255, 0.747); }
  .btn-contact:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px;
    color: #807b7b;
    background-color: aliceblue; }
  .btn-contact::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    /* relative ise link ve visited buttonu olacak */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: rgba(232, 240, 247, 0.568); }
  .btn-contact:hover::after {
    transform: scale(1.5);
    opacity: 0; }

@media screen and (max-width: 791px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .ali {
    position: relative; }
  .heading-contact {
    display: inline;
    font-size: 2rem;
    text-align: center; }
  .btn-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

.footer {
  background: #1c1c1e;
  text-align: center;
  /* zaten globals dan padding alıyor bir nebze o yuzden top bottom yapmadı */
  padding: 6rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.4rem; }

.logo-boxo {
  text-align: center;
  width: 15rem;
  height: auto;
  margin: 0 auto;
  padding: 0; }

.logosecond2 {
  margin: 0 auto; }

.footer-list {
  list-style: none; }

.footer-item {
  display: inline-block; }

.footer-item:not(:last-child) {
  margin-right: 1.5rem; }

.footer-link:link, .footer-link:visited {
  color: #e4dede;
  text-decoration: none;
  padding: 1rem 1.25rem;
  text-transform: uppercase;
  display: inline-block; }

.footer-copyright {
  font-family: inherit; }

.arda {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  color: rgba(16, 159, 202, 0.801);
  background: #1c1c1e; }

.arda:hover {
  transform: scale(3) rotate(360deg); }

.footer-link {
  transition: all 0.3s ease-in-out; }

.footer-link:hover {
  transform: scale(1.4) rotate(3deg); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3000;
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }
  .popup-content {
    width: 55%;
    background-color: rgba(252, 239, 239, 0.959);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 400px;
    min-height: 200px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all 0.5s 0.2s; }
  .popup-left {
    width: 33.33333333%;
    display: block;
    align-items: center;
    overflow: hidden; }
  .popup-left img {
    object-fit: cover;
    width: 70%; }
  .popup-img {
    display: block;
    height: 50%;
    width: 100%; }
  .popup-right {
    display: block;
    text-align: center;
    align-items: center;
    width: 66.666666667%;
    align-self: center;
    justify-content: center; }
  .popup-text {
    align-self: center;
    line-height: 1.5rem;
    margin-right: 0.2rem;
    hyphens: auto; }
  .popup-3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem; }
  .popup-2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: rgba(9, 109, 209, 0.719); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup-close {
    display: inline-block;
    color: #777;
    position: absolute;
    top: -5px;
    right: 20px;
    font-size: 3.5rem;
    text-decoration: none;
    transition: all 0.2s;
    line-height: 1; }
    .popup-close:hover {
      color: #0986ec; }
